# Dependencies
node_modules/

# Environment variables
.env

# Google OAuth credentials
backend/config/google-credentials.json

# Build output
dist/
build/
nul
# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/